# Secrets (allow encrypted and template files)
**/secrets/*
!**/secrets/*.enc.yaml
!charts/governance-platform/templates/secrets/**

# Database dumps
*.dump

# OS files
._*
.DS_Store

# IDE/Editor files
.idea/
*.iml
.vscode
*~
\#*\#
.\#*
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
.history

# Helm
/**/*.tgz
**/.helm_ls_cache/**
