# Enablement Check
{{- if and .Values.global.secrets.create (eq .Values.global.secrets.secretManager.provider "azure_key_vault") }}

# Data Validation
{{- if not .Values.global.secrets.secretManager.azure_key_vault.secretName }}
  {{- fail "global.secrets.secretManager.azure_key_vault.secretName is required when secret manager provider is azure_key_vault and create is true" }}
{{- end }}
{{- if not .Values.global.secrets.secretManager.azure_key_vault.values.clientId }}
  {{- fail "global.secrets.secretManager.azure_key_vault.values.clientId is required when secret manager provider is azure_key_vault and create is true" }}
{{- end }}
{{- if not .Values.global.secrets.secretManager.azure_key_vault.values.clientSecret }}
  {{- fail "global.secrets.secretManager.azure_key_vault.values.clientSecret is required when secret manager provider is azure_key_vault and create is true" }}
{{- end }}
{{- if not .Values.global.secrets.secretManager.azure_key_vault.values.tenantId }}
  {{- fail "global.secrets.secretManager.azure_key_vault.values.tenantId is required when secret manager provider is azure_key_vault and create is true" }}
{{- end }}
{{- if not .Values.global.secrets.secretManager.azure_key_vault.values.vaultUrl }}
  {{- fail "global.secrets.secretManager.azure_key_vault.values.vaultUrl is required when secret manager provider is azure_key_vault and create is true" }}
{{- end }}

# Secret Resource
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.global.secrets.secretManager.azure_key_vault.secretName }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "governance-platform.labels" . | nindent 4 }}
type: Opaque
stringData:
  {{ .Values.global.secrets.secretManager.azure_key_vault.keys.clientId }}: {{ .Values.global.secrets.secretManager.azure_key_vault.values.clientId | quote }}
  {{ .Values.global.secrets.secretManager.azure_key_vault.keys.clientSecret }}: {{ .Values.global.secrets.secretManager.azure_key_vault.values.clientSecret | quote }}
  {{ .Values.global.secrets.secretManager.azure_key_vault.keys.tenantId }}: {{ .Values.global.secrets.secretManager.azure_key_vault.values.tenantId | quote }}
  {{ .Values.global.secrets.secretManager.azure_key_vault.keys.vaultUrl }}: {{ .Values.global.secrets.secretManager.azure_key_vault.values.vaultUrl | quote }}
{{- end }}
